{{!< default}}

{{#post}}
<main id="main">
    <article class="home {{post_class}}">
		{{content}}
    </article>
    
    <aside>
    	<!-- Publicité pour les polices. -->
    </aside>
</main>
{{/post}}