{{!< default}}

{{#post}}
<main class="home" id="main">
    <article class="{{post_class}}" id="content">
		{{content}}
    </article>
    
    <aside id="sidebar">
    	SIDEBAR
    </aside>
</main>
{{/post}}