{{!< default}}

<main id="main">
	<aside id="sidebar">
    </aside>

	<article class="{{post_class}}" id="content">
		{{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    </article>
</main>